.dispFlex{
    display: flex;
    flex-wrap: wrap;
}
.CallDashPrentCls {
    margin: auto;
    max-width: 95vw;
    width: 90%;
    margin-top: 75px;
}
.marginLeft1rem{
    margin-left: 1rem;
}
.padRight1rem{
    padding-right: 1rem;
}
.bgClolor{
    background-color: rgb(240, 235, 248);
}
.rdrDefinedRangesWrapper{
    display: none;
}
.md0UAd {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2px;
    line-height: 20px;
    margin-top: 12px;
    color: #d93025;
    padding-left: 20px;
}

.N0gd6 {
    padding-left: 20px;
}
.zAVwcb {
    border-top: 1px solid #dadce0;
    left: 0;
    width: 100%;
    margin-top: 12px;
}
.m7w29c {
    margin-top: 12px;
    background-color: #fff;
    border: 1px solid #dadce0;
    border-radius: 8px;
    margin-bottom: 12px;
    position: relative;
    padding-bottom: 16px;
}
.RVEQke {
    background-color: rgb(103, 58, 183);
    color: rgba(255, 255, 255, 1);
}

.JH79cc {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    height: 10px;
    /* left: -1px; */
    /* position: absolute; */
    /* top: -1px; */
    width: calc(100% + 2px);

}
@media only screen and (max-width : 600px) {
    .headCusstCallDataCls{
        background-color: #007DFF;
        margin-top: 15px;
    }
    .custCallDataCls {
        padding-left: 15px;
        font-weight: bold;
        color: white;
        /* padding-top: 2px; */
        margin-top: 13px;
    }
    .rdrCalendarWrapper {
        width: 100%;
    }
    .rdrDateRangePickerWrapper{
        width: 100%;
    }
    .widthFull{
        width: 100%;
    }
    .hbotQl{
        white-space: normal !important;
    }
}